@{
    ViewBag.Title = "Contact";
}

<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

<ol>
    <li>
        <p>
        Md. Mesbahul Islam <br />
        Deapartment of Computer Science (Networking and Services) <br />
        University of Helsinki <br />
        E-mail: mdislam [at] cs [dot] helsinki [dot] fi
        </p>
    </li>

    <li>
        <p>
        Adnan Mohammad Shoeb Shatil <br />
        Deapartment of Computer Science (Algorithms and Data Mining) <br />
        University of Helsinki <br />
        E-mail: andan [dot] shatil [at] cs [dot] helsinki [dot] fi
        </p>
    </li>
    
    <li>
        <p>
        A. M. Ahsan Feroz <br />
        Geoinformatics, Department of Real Estate, Planning and Geoinformatics <br />
        Aalto University, School of Engineering <br />
        E-mail: abdullah.feroz [at] aalto [dot] fi <br />
        </p>
    </li>
</ol>