@{
    ViewBag.Title = "About";
}

<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

<article>
    <p>
        The objective of this project is to develop a small scale project for "Windows Azure Platform" and learn some features of ASP .NET MVC4 also. Basic functionalities of the project are following:
    </p>
    <p>
        <ul>
            <li>Public users can see list of items in the home page which are going to be sold or bought.</li>
            <li>Public users can search item by categories.</li>
            <li>Users (registered users) can reply/comment to a post or send message to the post creator.</li>
            <li>Users (registered users) can submit posts regarding item selling, renting out house or asking help for something.</li>
        </ul>
    </p>
</article>
