body {
    background-color: #232323;
    color: #e2e2e2;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

header, footer, nav, section {
    display: block;
}

hr {
    margin-right:10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Styles for Header
-----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 75%;
}

.site-title {
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size:  3em;
    text-align:center;
    margin: 0;
}

/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: 1em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        color:wheat;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

/* Styles for Search
-----------------------------------------------------------*/
#search {
    float: left;
    margin:5px 0;
}

/* Styles for Navigation
-----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

    ul#menu li {
        display: inline;
        list-style: none;
        font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    }

        ul#menu li a {
            padding: 5px 10px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.5em;
            background-color: #e2e2e2;
            color: #034af3;
            border-radius: 4px 4px 0 0;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }

/*New Advertisement link button*/
#advertisement {
        display: inline;
        list-style: none;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    }

        #advertisement a {
            padding: 5px 10px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.5em;
            background-color: #232323;
            color: #e2e2e2;
            border-radius: 4px;
        }

        #advertisement a:hover {
            color: green;
            text-decoration: none;
        }

/*Other link button*/
#linkBtns {
        display: inline;
        list-style: none;
        font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    }

        #linkBtns a {
            padding: 5px 10px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.5em;
            background-color: #232323;
            color: #e2e2e2;
            border-radius: 4px;
        }

        #linkBtns a:hover {
            color: red;
            text-decoration: none;
        }

/* Styles for Content Body
-----------------------------------------------------------*/
#body {
    background-color: #e2e2e2;
    color: #232323;
    clear: both;
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 35px;    
    border-radius:  4px 0 4px 4px;
}

.main-content {
        padding-left: 10px;
        padding-top: 10px;
}

/* Styles for Footer
-----------------------------------------------------------*/
footer {
    clear: both;
    font-size: .8em;
    height: 10px;
}



/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #232323;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 250px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for login Forms
-----------------------------------------------------------*/
#loginForm {
    width: 55%;
}
    
    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}